{% extends 'base.html' %}

{% block content %}
<h1> About Page </h1>
<p1>This is rendered through template</p1>
<h2>Rendered through context</h2>
<p>{{my_text}}</p>
<p>{{my_number}}</p>
<h3>{{title| capfirst | upper}}</h3>
<ul>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
</ul>

<ul>
    {% for item in country %}
        {% if item == "usa" %}
            <li> {{forloop.counter}} - {{item}} = {{999|add:22}} </li>
        {% else %}
            <li>{{forloop.counter}} - {{item}}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}